!!! 1.1
%html(xmlns="http://www.w3.org/1999/xhtml/")
 %head
  %meta(http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8")
  %title
   Humbly testing
  :css
   body { font: 16px Calibri; }
   a { color: blue; }
   .notice { background: yellow; padding: 0.5em; border: 1px solid red; }
 %body
  #header
   %h1
    %a(href="#")
     Test
  %p.notice
   Even though I already knew that.
